body {
    height: 2000px;
}
.scrollToTop {
    position: fixed;
    bottom: 10px;
    right: 20px;
    display: none;
}

/* section {
    margin-top: 100px;
    height: 600px;
} */

.active {
    color: darkorange !important;
}


.changePictureOnClick{
    margin-top: 100px;
}

.image-action{
    display: none;
}

.active-image{
    display: block;
}

.active-bg-list{
    background-color: brown;
    color: #fff;
}